examples/example.json
[{"id":"1eb5ec7d.4a9a8a","type":"inject","z":"73a31b55.9b0484","name":"","topic":"","payload":"<html><head><title>Test Page</title></head><body><h1>Hello, world!</h1></body></html>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["6e6672d9.75c7f"]]},{"id":"6e6672d9.75c7f","type":"html2docx","z":"73a31b55.9b0484","name":"","filename":"output.docx","output":"Buffer","x":430,"y":300,"wires":[["c1d6d956.6b9aa"]]},{"id":"c1d6d956.6b9aa","type":"debug","z":"73a31b55.9b0484","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]}]